{% extends 'base.html' %}
{% block page %}
<br>
    <h2>Кандай анан, {{ request.user }}</h2>
<hr>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aut autem debitis ex fuga, hic ipsa neque nesciunt nostrum numquam pariatur, placeat quae qui recusandae reprehenderit sunt velit! Distinctio, possimus.
    </div>
    <hr>
    <h2>Оставьте отзыв</h2>
    <form>
        <input type="text">
        <button type="button" class="btn btn-warning">Send</button>
        <br>
        {% if user.is_authenticated %}
            <p><a href="{% url 'logout' %}">Выйти из аккаунта</a></p>
        {% else %}
            <p>Вы не вошли в систему</p>
            <a href="{% url 'sign-in' %}">Войти</a>
        {% endif %}
    </form>
{% endblock %}